<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="edX_Test" verbose="16">
	<test name="Android">
		<classes>
		    <class name="org.edx.androidtestsuite.LoginTestSuite"></class>
		    <class name="org.edx.androidtestsuite.MyCoursesTestSuite"></class>
		</classes>
	</test>
</suite>

