<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.edx.mobile"
    android:installLocation="auto">

    <!-- Required by app for server communication and video download -->
    <!-- Required by Segment -->
    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required by app for preventing screen lock while playing a video -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required by app for storing downloaded videos to the external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required by legacy Google Sign In (TODO: Switch to new Google Sign In) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required by app for TelephonyManager to determine mobile network carrier ID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Sticky broadcast passing a message from one screen and display on another -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".base.RuntimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="${supportsRtl}"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.edx.mobile.view.SplashActivity"
            android:label="@string/app_shortcut_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="edx" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.edx.mobile.view.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch" />

        <activity
            android:name="org.edx.mobile.view.DiscoveryLaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch" />

        <activity
            android:name="org.edx.mobile.view.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="org.edx.mobile.view.MyCoursesListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.AccountActivity"
            android:label="@string/title_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CourseDashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="org.edx.mobile.view.CourseOutlineActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.CourseDiscussionTopicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.CourseDiscussionPostsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.CourseDiscussionCommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.CourseDiscussionResponsesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.DiscussionAddPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_post_create_new_post"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.DiscussionAddResponseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_add_response_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.DiscussionAddCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_add_comment_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CourseUnitNavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.DownloadListActivity"
            android:label="@string/title_download"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.WebViewFindCoursesActivity"
            android:label="@string/label_discover"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.WebViewExploreSubjectsActivity"
            android:label="@string/launch_explore_subjects"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.NativeFindCoursesActivity"
            android:label="@string/label_find_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CourseInfoActivity"
            android:label="@string/label_discover"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.edx.mobile.view.CourseDetailActivity"
            android:label="@string/label_find_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CourseHandoutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CourseDatesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.CourseAnnouncementsActivity"
            android:label="@string/announcement_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.CertificateActivity"
            android:label="@string/tab_label_certificate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"/>

        <activity
            android:name="org.edx.mobile.view.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.edx.mobile.view.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".profiles.UserProfileActivity"
            android:label="@string/profile_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.EditUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name=".view.FormFieldActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".view.CropImageActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".whatsnew.WhatsNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.dialog.WebViewActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="org.edx.mobile.module.download.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Setup for Code Coverage -->
        <instrumentation
            android:name="org.edx.mobile.instrumentation.EdxInstrumentation"
            android:targetPackage="org.edx.mobile" />

        <!-- adb shell am broadcast -a org.edx.mobile.END_EMMA -->
        <receiver android:name="org.edx.mobile.instrumentation.EndEmmaBroadcast">
            <intent-filter>
                <action android:name="org.edx.mobile.END_EMMA" />
            </intent-filter>
        </receiver>

        <!-- Setup Facebook -->
        <activity android:name="com.facebook.LoginActivity" />

        <!-- Setup Google -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Setup Firebase -->
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="${firebaseEnabled}" />

        <!-- Branch -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="${branchKey}" />

        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="org.edx.mobile.services.DownloadSpeedService" />
    </application>

</manifest>
