<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.humana.mobile"
    android:installLocation="auto">

    <!-- Required by app for server communication and video download -->
    <!-- Required by Segment -->
    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by NewRelic -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required by app for preventing screen lock while playing a video -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required by app for storing downloaded videos to the external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <!-- Required by app for capturing image -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Sticky broadcast passing a message from one screen and display on another -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <!-- To read OTP -->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />-->

    <!-- TTA To download without notification -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!--required into assistant search-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Setup for Code Coverage -->
    <instrumentation
        android:name="org.humana.mobile.instrumentation.EdxInstrumentation"
        android:targetPackage="org.humana.mobile" />

    <application
        android:name="org.humana.mobile.base.RuntimeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/humana_launcher"
        android:label="@string/app_name"
        tools:replace="android:allowBackup"
        android:supportsRtl="${supportsRtl}"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

       <!-- android:networkSecurityConfig="@xml/network_security_config"-->
<!--        <activity
            android:name="org.humana.mobile.view.SplashActivity"
            android:label="@string/app_shortcut_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoDisplayTheme">
            &lt;!&ndash;<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="humana" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>&ndash;&gt;
        </activity>-->


        <activity
            android:name="org.humana.mobile.view.SplashActivity"
            android:label="@string/app_shortcut_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch">

            <intent-filter>
                <data android:scheme="edx" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.humana.mobile.view.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch" />

        <activity
            android:name="org.humana.mobile.view.DiscoveryLaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.humana.mobile.view.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.MainDashboardActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.AccountActivity"
            android:label="@string/title_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseOutlineActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseDiscussionTopicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseDiscussionPostsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseDiscussionCommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseDiscussionResponsesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.DiscussionAddPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/start_discussion"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.DiscussionAddResponseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_add_response_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.DiscussionAddCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/discussion_add_comment_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseUnitNavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.DownloadListActivity"
            android:label="@string/title_download"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.WebViewFindCoursesActivity"
            android:label="@string/label_discover"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.ViewSubjectsActivity"
            android:label="@string/browse_by_subject"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseInfoActivity"
            android:label="@string/label_discover"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseDetailActivity"
            android:label="@string/label_find_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseHandoutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.NativeFindCoursesActivity"
            android:label="@string/label_find_courses"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CourseAnnouncementsActivity"
            android:label="@string/announcement_title"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.CertificateActivity"
            android:label="@string/tab_label_certificate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"/>

        <activity
            android:name="org.humana.mobile.view.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.profiles.UserProfileActivity"
            android:label="@string/profile_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.EditUserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <activity
            android:name="org.humana.mobile.view.FormFieldActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.humana.mobile.view.CropImageActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.humana.mobile.whatsnew.WhatsNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="org.humana.mobile.view.CourseTabsDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar"/>

        <activity
            android:name="org.humana.mobile.view.dialog.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="org.humana.mobile.innerlinks" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.humana.mobile.view.dialog.AuthenticatedWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusBar" />

        <receiver android:name="org.humana.mobile.module.download.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- adb shell am broadcast -a org.humana.mobile.END_EMMA -->
        <receiver android:name="org.humana.mobile.instrumentation.EndEmmaBroadcast">
            <intent-filter>
                <action android:name="org.humana.mobile.END_EMMA" />
            </intent-filter>
        </receiver>

        <!-- Setup Facebook -->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="${facebookAppId}"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${fbLoginProtocolScheme}" />
            </intent-filter>
        </activity>

        <!-- TTA activities start -->

        <activity android:name="org.humana.mobile.tta.ui.splash.SplashActivity"
            android:label="@string/app_shortcut_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <data android:scheme="edx" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <data android:mimeType="text/plain" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.humana.mobile.tta.ui.logistration.SigninRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.humana.mobile.tta.ui.launch.SwipeLaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen">
        </activity>

        <activity
            android:name="org.humana.mobile.tta.ui.reset_password.EnterNumberActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="org.humana.mobile.tta.ui.otp.OtpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="org.humana.mobile.tta.ui.reset_password.ResetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="org.humana.mobile.tta.ui.landing.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity
            android:name="org.humana.mobile.tta.ui.logistration.UserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden | adjustResize" />

        <activity
            android:name="org.humana.mobile.tta.ui.course.CourseScormViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:keepScreenOn="true"
            android:label="Scorm"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="org.humana.mobile.tta.ui.connect.ConnectDashboardActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity
            android:name="org.humana.mobile.tta.ui.deep_link.DeepLinkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen.TaLaunch"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://connect.theteacherapp.org" -->
                <data
                    android:host="connect.theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://theteacherapp.org" -->
                <data
                    android:host="theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://www.theteacherapp.org" -->
                <data
                    android:host="www.theteacherapp.org"
                    android:scheme="http" />

                <!-- Accepts URIs that begin with "http://www.connect.theteacherapp.org" -->
                <data
                    android:host="www.connect.theteacherapp.org"
                    android:scheme="http" />

                <!-- for https -->


                <!-- Accepts URIs that begin with "http://connect.theteacherapp.org" -->
                <data
                    android:host="connect.theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "http://theteacherapp.org" -->
                <data
                    android:host="theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "http://www.theteacherapp.org/" -->
                <data
                    android:host="www.theteacherapp.org"
                    android:scheme="https" />

                <!-- Accepts URIs that begin with "https://www.connect.theteacherapp.org/" -->
                <data
                    android:host="www.connect.theteacherapp.org"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:name="org.humana.mobile.tta.ui.course.discussion.DiscussionThreadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity
            android:name="org.humana.mobile.tta.ui.course.discussion.DiscussionCommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity
            android:name="org.humana.mobile.tta.ui.course.CourseDashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />

        <activity
            android:name="org.humana.mobile.tta.ui.profile.OtherProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <!-- TTA activities end -->

        <!-- Humana activities start -->

        <activity android:name="org.humana.mobile.tta.ui.programs.addunits.AddUnitsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity android:name="org.humana.mobile.tta.ui.programs.selectprogram.SelectProgramActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />
        <activity android:name="org.humana.mobile.tta.ui.programs.selectSection.SelectSectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar" />
        <activity android:name="org.humana.mobile.tta.ui.programs.pendingUnits.PendingUnitsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <activity android:name="org.humana.mobile.tta.ui.programs.periodunits.PeriodUnitsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name="org.humana.mobile.tta.ui.programs.userStatus.UserStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name="org.humana.mobile.tta.ui.programs.units.UnitCalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name=".tta.ui.programs.units.ActivityCalendarBottomSheet"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name=".tta.ui.programs.pendingUnits.PendingUnitWebviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name=".tta.ui.programs.units.PeriodListingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name=".tta.ui.programs.notifications.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>
        <activity android:name=".tta.ui.programs.notifications.NotificationNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar.CustomStatusBar"/>

        <!-- Humana activities end -->

        <!-- Setup Google -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Setup Firebase -->
        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="${firebaseEnabled}" />
        <meta-data android:name="firebase_messaging_auto_init_enabled"
            android:value="${firebaseEnabled}" />

        <!-- Branch -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="${branchKey}" />

        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- otp reading receiver no permission -->
        <receiver
            android:name="org.humana.mobile.tta.ui.otp.SmsModuleReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/image_provider"/>
        </provider>

        <service android:name="org.humana.mobile.services.DownloadSpeedService" />

         <!--NotificationResponse through Firebase Cloud Messaging (FCM) -->
       <!-- <service
            android:name="org.humana.mobile.notificationResponse.services.NotificationService"
            android:enabled="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->
        <service android:name="org.humana.mobile.tta.firebase.TaFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.DownloadService">

        </service>

        <!-- Set the icon for notificationResponse -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages.  -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/edx_brand_primary_accent" />

    </application>

</manifest>
